body{
    background-image: url(../Imagens/Telas_de_Fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section{display: flex; align-items: center;}

span{display: none;}

h1{
    color:black;
    font-family: 'Trebuchet MS';
    text-align: center;
    font-size: 140px;
}

p{
    font-size: 70px;
    font-family: 'Trebuchet MS';
    text-align: left;
    color:black;  
}

#img_Cecilia {
    width: 1000px;
    height: 300px;
}

#img_circular {
    border-radius: 50px;
    margin:500px;
    display:inline-block;
}

#centro{
    height: 100px;
}

.centro {
    text-align: center;
    font-size: 110px;
    font-family: 'Trebuchet MS';
    color: #fff;
    
}