body{
    background-image: url(../Imagens/Fundo-Estrelado-Escuro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    margin: auto;
    display: block;
    float:left;
    height: 9%;
    width: 7%;
}

section{display: flex; align-items: center;}
    
.btn{
    width: 230px; 
    height: 50px;  
    margin-right: 20px; 
    margin-left: 18px; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/*
LARANJA: #ff9900

ROXO: #7B68EE;
*/

#btn1{
    background-color: #ff9900;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn1:hover{
    background: #7B68EE url(../Imagens/En-Hedu-Anna.png) no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn2{
    background-color: #ff9900; 
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn2:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn3{
    background-color: #ff9900 ;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn3:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn4{
    background-color: #ff9900;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn4:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn5{
    background-color: #ff9900;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn5:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn6{
    background-color: #ff9900;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn6:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn7{
    background-color: #ff9900;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn7:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn8{
    background-color:  #ff9900;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn8:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn9{
    background-color:  #ff9900;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn9:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn10{
    background-color:  #ff9900;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn10:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn11{
    background-color:  #ff9900;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn11:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn12{
    background-color:  #ff9900;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn12:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn13{
    background-color:  #ff9900;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn13:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn14{
    background-color:  #ff9900;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn14:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn15{
    background-color:  #ff9900;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn15:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn16{
    background-color:  #ff9900;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn16:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn17{
    background-color:  #ff9900;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn17:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn18{
    background-color:  #ff9900;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn18:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn19{
    background-color:  #ff9900;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn19:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

#btn20{
    background-color:  #ff9900;
    transition: background-color 1s;
    font-size: 18px;
    font-family: 'Trebuchet MS';
}
#btn20:hover{
    background: #7B68EE url() no-repeat 10px center;
    cursor: pointer;
    box-shadow: 14px 13px 16px 8px black;
}

span{display: none;}

.centro {
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS';
    color: #fff;
}

.box1{
    width: 1000px; 
    height: 100px;  
    border: 13px solid #708090;
    background-color:#00FFFF;
    color:#FF1493;
    font-family: 'Trebuchet MS';
    text-align: center;
    font-size: 22px;
    box-shadow: 10px 20px rgb(176,176,176);
    border-radius: 15px;
    margin-right: 80px; 
    margin-left: 80px; 
}

.Estrela1{
    float:left;
    height: 30%;
    width: 350%;
    margin-left: 80px; 
}

.Estrela2{
    float:right;
    height: 30%;
    width: 350%;
    margin-right: 80px; 
}