body{
    background-image: url(../Imagens/Telas_de_Fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section{display: flex; align-items: center;}

span{display: none;}

h1{
    text-align: center;
    font-size: 150px;
}

p{
    text-align: left;
    font-size: 70px;
}

#img_Cecilia {
    width: 1000px;
    height: 300px;
}

#img_circular {
    border-radius: 50px;
    margin:500px;
    display:inline-block;
}