body{
    background-image: url(../Imagens/abstract-1105851.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baskerville', sans-serif;
    font-size: 2.0rem;
}

img {
    display:inline-block; font-size:20px; 
    text-align:center; font-weight:bold; 
}

.img{
    text-align: center;
}

#centro{
    height: 400px;
    color: #FF4500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:#F4A460;
}

.centro {
    text-align: center;
    
}