body{
    background-image: url(../Imagens/Fundo-Estrelado-Escuro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

img {
    display:inline-block; 
    text-align:center; 
    font-weight:bold; 
}

.img{
    text-align: center;
}

#centro{
    height: 100px;
}

.centro {
    text-align: center;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}