body{
    background-image: url(../Imagens/abstract-1105851.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    display:inline-block; font-size:20px; 
    text-align:center; font-weight:bold; 
}

.img{
    text-align: center;
}

.tt-copy
{
line-height: 40px;
color: #fff;
background: #51658d;
padding: 55px 0;
font-size:70px;
font-family: 'Trebuchet MS';
}

.tt-copy-center {
    text-align: left;
    }