body{
    background-image: url(../Imagens/Fundo-Estrelado-Escuro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    display:inline-block; 
    text-align:center; 
    font-weight:bold; 
}

.img{
    text-align: center;
}

.tt-copy
{
line-height: 40px;
color: #fff;
background: #51658d;
padding: 4px 0;
font-size:15px;
font-family: 'Trebuchet MS';
}

.tt-copy-center {
    text-align: left;
    }